<div *ngIf="todoList.length > 0">
  <h2>List of Todo </h2>
  <div *ngFor="let todo of todoList; let i = index;">
    <div *ngIf="!editedObj[i]">
      <h3>{{todo}}</h3>
      <button (click)="delete(i)">Completed</button>
      <button (click)="edit(i)">Edit</button>
    </div>
    <div *ngIf="editedObj[i]">
      <input [(ngModel)]="todoList[i]"/>
      <button (click)="done(i)">done</button>
      <button (click)="cancel(i)">cancel</button>
    </div>
    
  </div>
</div>

<div *ngIf="todoList.length === 0">
  <h2> No todos </h2>
</div>

